<div class="row" *ngIf="product">
  <div class="col-6">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="w-100">
  </div>
  <div class="col-6 mt-5">
    <h2>{{product.name}}</h2>
    <p style="font-size: 2em;">{{product.price | currency}}</p>
    <div class="row mt-4">
      <h4>Descripción</h4>
      <p>{{product.description}}</p>
    </div>
    <ng-container *ngIf="accountService.currentUser$ | async as user">
      <div class="row mt-4">
        <h4>Vendedor</h4>
        <p>{{user.displayName}}</p>
        <a>
          <i class="fa fa-envelope"></i>
          {{user.email}}
        </a>
        <a>
          <i class="fa fa-address-book	"></i>
          {{user.phoneNumber}}
        </a>
      </div>
    </ng-container>
  </div>
</div>
