<header class="d-flex flex-md-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottoma fixed-top shadow-sm">
  <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">
    <nav class="my-2a fs-4">
      <a class="p-2"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
      >Inicio</a>
      <a class="p-2" routerLink="/shop" routerLinkActive="active">Tienda</a>
      <a class="p-2" routerLink="/support" routerLinkActive="active">Soporte</a>
    </nav>
    <div class="d-flex align-items-center">
      <ng-container *ngIf="(accountService.currentUser$ | async) === null">
        <a routerLink="/account/login" class="btn btn-outline-secondary me-2">Login</a>
        <a routerLink="/account/register" class="btn btn-outline-secondary me-3">Registrarse</a>
      </ng-container>
      <ng-container *ngIf="accountService.currentUser$ | async as user">
        <div class="dropdown ms-3 me-5" style="cursor: pointer;" dropdown>
          <a dropdownToggle class="dropdown-toggle">
            <i class="fa fa-user fa-2x"></i>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li class="py-1">
              <a class="dropdown-item" routerLink="/profile">
                {{user.email}}
              </a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="py-1">
              <a (click)="accountService.logout()" class="dropdown-item">
                <i class="fa fa-sign-out me-3"></i> Cerrar sesión
              </a>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
</header>
