<carousel [isAnimated]="true">
  <slide>
    <img src="assets/images/slider1.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/slider2.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/slider3.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
</carousel>

<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>¡Bienvenido al marketplace para estudiantes UANL!</h1>
  </div>
</section>
